#Loading {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  .logoContainer {
    width: 55px;
  }

  .loadingTypo {
    width: 350px;
    top: calc(50vh - 175px);
    left: calc(50vw - 175px);
    opacity: 0;
  }

  @media screen and (min-width: 1400px) {
    .logoContainer {
      width: 75px;
    }

    .loadingTypo {
      width: 500px;
      top: calc(50vh - 250px);
      left: calc(50vw - 250px);
    }
  }

  @media screen and (max-width: 576px) {
    .logoContainer {
      width: 35px;
    }

    .loadingTypo {
      width: 250px;
      top: calc(50vh - 125px);
      left: calc(50vw - 125px);
    }
  }
}
