.Project {
  margin: 200px 50px;
  flex-direction: row-reverse;
  height: 60vh;
  opacity: 0;

  .projectTitle {
    z-index: 1;
    bottom: 20px;
    left: 50px;
  }

  .projectPicture {
    width: 50vw;
    height: calc(50vw / 1.87);
    overflow: hidden;
    border-radius: 25px;
    img {
      transform: scale(1.2);
    }
  }
}

.Project:first-of-type {
  margin: 100px 50px;
}

.Project:nth-child(2n + 1) {
  flex-direction: row;

  .projectTitle {
    right: 20px;
  }
}
