#SelectedWorks {
  & > h2 {
    margin-top: 50px;
    transform: translate(0, 0);

    @media screen and (max-width: 992px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 2.5rem;
      margin-top: 0;
    }

    @media screen and (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
}
