#About {
  height: 100vh;
  padding-bottom: 70px;

  .picture {
    width: 130px;
    height: 130px;
    overflow: hidden;
    transform: translate(2px, 0), rotate(20);
  }

  .textContainer {
    height: 65vh;
    margin-top: 70px;
  }

  .bottomParagraphContainer {
    bottom: -100px;
  }
}
